components/netalertx/netalertx.flow.json
[
    {
        "id": "tab_netalertx",
        "type": "tab",
        "label": "NetAlertX",
        "disabled": false,
        "info": "CARD-0063 — translates NetAlertX's raw system-sensors/# MQTT firehose (~95 msgs/scan) into new-device alerts on jctsh/components/netalertx/log, plus a 5-minute heartbeat on jctsh/components/netalertx/heartbeat (picked up automatically by the watchdog flow's jctsh/+/+/heartbeat wildcard). CARD-0068 removed online/offline presence transition messages — noisy, not actionable, no future use identified."
    },
    {
        "id": "comment_overview",
        "type": "comment",
        "z": "tab_netalertx",
        "name": "CARD-0063 — NetAlertX translation + heartbeat",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "comment_transitions",
        "type": "comment",
        "z": "tab_netalertx",
        "name": "New-device detection (diff against cached is_new flag — no mirroring)",
        "info": "",
        "x": 240,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_in_netalertx_sensor",
        "type": "mqtt in",
        "z": "tab_netalertx",
        "name": "system-sensors/sensor/+/state",
        "topic": "system-sensors/sensor/+/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "fn_device_info"
            ]
        ]
    },
    {
        "id": "fn_device_info",
        "type": "function",
        "z": "tab_netalertx",
        "name": "fn_device_info (cache scan stats, detect new-device)",
        "func": "// Topic shape: system-sensors/sensor/<id>/state\n// <id> is either \"netalertx\" (aggregate scan stats) or \"mac_xx_xx_xx_xx_xx_xx\" (per-device attrs).\nconst parts = msg.topic.split('/');\nconst id = parts.length >= 3 ? parts[2] : '';\n\n// mqtt in node uses datatype \"auto-detect\" — valid JSON payloads arrive already\n// parsed as objects, so only re-parse if we actually got a raw string.\nlet payload = msg.payload;\nif (typeof payload === 'string') {\n    try {\n        payload = JSON.parse(payload);\n    } catch (e) {\n        node.warn('Bad JSON on ' + msg.topic);\n        return null;\n    }\n}\n\nif (id === 'netalertx') {\n    // Aggregate scan stats — cache for the heartbeat, no transition to log here.\n    // flow-scoped: fn_heartbeat is a different node and needs to read this back.\n    flow.set('agg_stats', payload);\n    return null;\n}\n\nif (!id.startsWith('mac_')) {\n    return null;\n}\n\nconst mac = id.substring(4).replace(/_/g, ':');\n\n// New-device detection — fire once per newly-flagged device. Clears when\n// NetAlertX itself clears is_new (e.g. the device gets named/acknowledged),\n// so a genuinely new appearance later can fire again.\nconst wasFlagged = flow.get('newflag_' + mac) === true;\nconst isNew = payload.is_new === '1' || payload.is_new === 1 || payload.is_new === true;\n\nif (isNew && !wasFlagged) {\n    flow.set('newflag_' + mac, true);\n    const label = payload.model || payload.vendor || 'unknown device';\n    return {\n        payload: JSON.stringify({\n            component: 'netalertx',\n            category: 'Alert',\n            message: 'New device detected: ' + label + ' (' + mac + ', ' + (payload.last_ip || 'no IP') + ')'\n        })\n    };\n}\n\nif (!isNew && wasFlagged) {\n    flow.set('newflag_' + mac, false);\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": [
            [
                "mqtt_out_netalertx_log",
                "debug_netalertx_log"
            ]
        ]
    },
    {
        "id": "mqtt_out_netalertx_log",
        "type": "mqtt out",
        "z": "tab_netalertx",
        "name": "jctsh/components/netalertx/log",
        "topic": "jctsh/components/netalertx/log",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 720,
        "y": 190,
        "wires": []
    },
    {
        "id": "comment_heartbeat",
        "type": "comment",
        "z": "tab_netalertx",
        "name": "Heartbeat (every 5 min — matches watchdog's 35-min / 7-heartbeat timeout)",
        "info": "",
        "x": 220,
        "y": 320,
        "wires": []
    },
    {
        "id": "inject_heartbeat",
        "type": "inject",
        "z": "tab_netalertx",
        "name": "every 5 min",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 10,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "fn_heartbeat"
            ]
        ]
    },
    {
        "id": "fn_heartbeat",
        "type": "function",
        "z": "tab_netalertx",
        "name": "fn_heartbeat (build log + heartbeat payloads)",
        "func": "const stats = flow.get('agg_stats');\nlet statsText = 'no scan data yet';\nif (stats) {\n    statsText = stats.online + ' online, ' + stats.down + ' down, ' + stats.all + ' total' +\n        (stats.new > 0 ? ', ' + stats.new + ' new' : '') +\n        (stats.unknown > 0 ? ', ' + stats.unknown + ' unknown' : '');\n}\n\nconst logMsg = {\n    payload: JSON.stringify({\n        component: 'netalertx',\n        category: 'System',\n        message: 'Heartbeat - ' + statsText\n    })\n};\n\nconst heartbeatMsg = {\n    payload: JSON.stringify({\n        component: 'netalertx',\n        stats: stats || {}\n    })\n};\n\nreturn [logMsg, heartbeatMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "mqtt_out_netalertx_log",
                "debug_netalertx_log"
            ],
            [
                "mqtt_out_netalertx_heartbeat"
            ]
        ]
    },
    {
        "id": "mqtt_out_netalertx_heartbeat",
        "type": "mqtt out",
        "z": "tab_netalertx",
        "name": "jctsh/components/netalertx/heartbeat",
        "topic": "jctsh/components/netalertx/heartbeat",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "debug_netalertx_log",
        "type": "debug",
        "z": "tab_netalertx",
        "name": "debug: log output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 250,
        "wires": []
    }
]
