components/netalertx/netalertx.flow.json
[
    {
        "id": "tab_netalertx",
        "type": "tab",
        "label": "NetAlertX",
        "disabled": false,
        "info": "CARD-0063 — plus a 5-minute heartbeat on jctsh/components/netalertx/heartbeat (picked up automatically by the watchdog flow's jctsh/+/+/heartbeat wildcard). CARD-0068 removed online/offline presence transition messages — noisy, not actionable, no future use identified. CARD-0078 — new-device alerting moved from diffing the raw system-sensors/# firehose (fragile: its dedup lived in Node-RED's in-memory flow context, which reset and re-fired false alerts on every Node-RED restart) to NetAlertX's own Notifications webhook, which computes new-device batches persistently server-side. Messages now include the event's real eveDateTime per CLAUDE.md's Event-time convention, not just the relay's post time."
    },
    {
        "id": "comment_overview",
        "type": "comment",
        "z": "tab_netalertx",
        "name": "CARD-0063 — NetAlertX translation + heartbeat",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "comment_transitions",
        "type": "comment",
        "z": "tab_netalertx",
        "name": "Aggregate scan-stats caching only (feeds the heartbeat) — new-device alerting is the webhook flow below (CARD-0078)",
        "info": "",
        "x": 240,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_in_netalertx_sensor",
        "type": "mqtt in",
        "z": "tab_netalertx",
        "name": "system-sensors/sensor/+/state",
        "topic": "system-sensors/sensor/+/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "fn_device_info"
            ]
        ]
    },
    {
        "id": "fn_device_info",
        "type": "function",
        "z": "tab_netalertx",
        "name": "fn_device_info (cache scan stats only)",
        "func": "// Topic shape: system-sensors/sensor/<id>/state\n// <id> is either \"netalertx\" (aggregate scan stats) or \"mac_xx_xx_xx_xx_xx_xx\" (per-device attrs).\n// CARD-0078: this used to also detect new devices by diffing each mac_* payload's\n// is_new flag against a Node-RED flow-context cache — removed because that cache is\n// memory-only and resets on every Node-RED restart, causing false re-alerts for any\n// device NetAlertX still considers \"new\" (i.e. never acknowledged/named in its UI).\n// New-device alerting now comes from NetAlertX's own Notifications webhook instead —\n// see the webhook flow below, which uses NetAlertX's persistent, correctly-deduped\n// server-side computation rather than re-deriving it here.\nconst parts = msg.topic.split('/');\nconst id = parts.length >= 3 ? parts[2] : '';\n\nlet payload = msg.payload;\nif (typeof payload === 'string') {\n    try {\n        payload = JSON.parse(payload);\n    } catch (e) {\n        node.warn('Bad JSON on ' + msg.topic);\n        return null;\n    }\n}\n\nif (id === 'netalertx') {\n    // Aggregate scan stats — cache for the heartbeat, no transition to log here.\n    // flow-scoped: fn_heartbeat is a different node and needs to read this back.\n    flow.set('agg_stats', payload);\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_out_netalertx_log",
        "type": "mqtt out",
        "z": "tab_netalertx",
        "name": "jctsh/components/netalertx/log",
        "topic": "jctsh/components/netalertx/log",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 720,
        "y": 190,
        "wires": []
    },
    {
        "id": "comment_webhook",
        "type": "comment",
        "z": "tab_netalertx",
        "name": "CARD-0078 — new-device alerting via NetAlertX's own Notifications webhook",
        "info": "NetAlertX Settings → Publishers → Webhook: WEBHOOK_RUN = on_notification (defaults to 'disabled' — must be changed or the webhook never fires), WEBHOOK_URL = http://192.168.1.117:1880/netalertx-webhook, WEBHOOK_PAYLOAD = json, WEBHOOK_REQUEST_METHOD = POST, WEBHOOK_SIZE = 65536, WEBHOOK_SECRET = see credentials.local.md (NETALERTX_WEBHOOK_SECRET — same value must be set here and in the Pi's /home/pi/.node-red/environment).",
        "x": 220,
        "y": 500,
        "wires": []
    },
    {
        "id": "http_in_netalertx_webhook",
        "type": "http in",
        "z": "tab_netalertx",
        "name": "POST /netalertx-webhook",
        "url": "/netalertx-webhook",
        "method": "post",
        "upload": false,
        "skipBodyParsing": true,
        "swaggerDoc": "",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "fn_webhook_new_devices"
            ]
        ]
    },
    {
        "id": "fn_webhook_new_devices",
        "type": "function",
        "z": "tab_netalertx",
        "name": "fn_webhook_new_devices (verify HMAC, parse, compose log messages)",
        "func": "// HMAC verification (CARD-0078) — NetAlertX signs its webhook body with WEBHOOK_SECRET,\n// header X-Webhook-Signature: sha256=<hex>. crypto is injected via this node's libs config\n// (Node-RED 4.x Function nodes disallow bare require() calls).\n//\n// Raw bytes: this Node-RED version has no msg.req.rawBody — the http in node's\n// \"skipBodyParsing\" property must be enabled instead, which delivers the untouched\n// request body as msg.payload (a Buffer) rather than a pre-parsed JSON object.\n// Confirmed via /usr/lib/node_modules/node-red/node_modules/@node-red/nodes/core/network/21-httpin.js\n// on the Pi (rawBodyCapture middleware, gated on the node's skipBodyParsing flag).\n//\n// CONFIRMED UPSTREAM BUG (NetAlertX v26.7.1, _publisher_webhook/webhook.py): the plugin\n// signs json.dumps(_json_payload, separators=(',', ':')) (compact, no spaces) but actually\n// transmits json.dumps(_json_payload) — Python's DEFAULT separators, which include spaces\n// after ':' and ','. These are different byte sequences for the same data, so verifying\n// against the raw received bytes will NEVER match NetAlertX's own signature. Proved this\n// directly: captured a real rejected request, parsed it, re-serialized with Python's\n// compact+ensure_ascii rules, and that reproduced NetAlertX's sent signature exactly.\n//\n// Workaround: parse the received body, then re-serialize it ourselves matching Python's\n// json.dumps(obj, separators=(',', ':')) behavior (compact, ensure_ascii=True — non-ASCII\n// chars, including emoji as UTF-16 surrogate pairs, escaped as \\uXXXX) via pyJsonDumps()\n// below, and verify the signature against THAT reconstruction instead of the raw bytes.\n// This only works because JSON.parse is side-effect-free on unverified input — nothing\n// from the parsed body is acted on (no log message composed) until AFTER the signature\n// check passes below.\n//\n// IMPORTANT: the http response node needs msg.req/msg.res to know which connection to\n// reply to — those only survive if we mutate the original msg object, not construct new\n// object literals for the response output.\n\nfunction pyJsonDumps(obj) {\n    if (obj === null || obj === undefined) return 'null';\n    if (obj === true) return 'true';\n    if (obj === false) return 'false';\n    if (typeof obj === 'number') return String(obj);\n    if (typeof obj === 'string') {\n        var out = '\"';\n        for (var i = 0; i < obj.length; i++) {\n            var ch = obj[i];\n            var code = obj.charCodeAt(i);\n            if (ch === '\"') out += '\\\\\"';\n            else if (ch === '\\\\') out += '\\\\\\\\';\n            else if (code === 0x08) out += '\\\\b';\n            else if (code === 0x0c) out += '\\\\f';\n            else if (code === 0x0a) out += '\\\\n';\n            else if (code === 0x0d) out += '\\\\r';\n            else if (code === 0x09) out += '\\\\t';\n            else if (code < 0x20 || code > 0x7e) out += '\\\\u' + code.toString(16).padStart(4, '0');\n            else out += ch;\n        }\n        return out + '\"';\n    }\n    if (Array.isArray(obj)) {\n        return '[' + obj.map(pyJsonDumps).join(',') + ']';\n    }\n    if (typeof obj === 'object') {\n        var parts = Object.keys(obj).map(function (k) {\n            return pyJsonDumps(k) + ':' + pyJsonDumps(obj[k]);\n        });\n        return '{' + parts.join(',') + '}';\n    }\n    return 'null';\n}\n\nconst secret = env.get('NETALERTX_WEBHOOK_SECRET');\nconst sigHeader = msg.req && msg.req.headers && msg.req.headers['x-webhook-signature'];\nconst raw = Buffer.isBuffer(msg.payload) ? msg.payload : null;\n\nif (!secret) {\n    node.error('NETALERTX_WEBHOOK_SECRET not set in Node-RED environment');\n    msg.statusCode = 500;\n    msg.payload = 'server misconfigured';\n    return [msg, null];\n}\n\nif (!sigHeader || !raw) {\n    node.warn('NetAlertX webhook: rejected — sigHeader present: ' + (!!sigHeader) + ', rawBody present: ' + (!!raw));\n    msg.statusCode = 401;\n    msg.payload = 'unauthorized';\n    return [msg, null];\n}\n\nlet body;\ntry {\n    body = JSON.parse(raw.toString('utf8'));\n} catch (e) {\n    node.warn('Bad JSON from NetAlertX webhook');\n    msg.statusCode = 400;\n    msg.payload = 'bad json';\n    return [msg, null];\n}\n\n// Reconstruct the exact string NetAlertX actually signed (its own compact-serialization\n// bug, worked around here — see notes above).\nconst compactForm = pyJsonDumps(body);\nconst expected = 'sha256=' + crypto.createHmac('sha256', secret).update(compactForm, 'utf8').digest('hex');\nlet valid = false;\ntry {\n    valid = crypto.timingSafeEqual(Buffer.from(sigHeader), Buffer.from(expected));\n} catch (e) {\n    valid = false; // length mismatch, malformed header, etc.\n}\n\nif (!valid) {\n    node.warn('NetAlertX webhook: signature mismatch (even after compact-reserialization workaround) — received: ' + sigHeader + ' | expected: ' + expected);\n    msg.statusCode = 401;\n    msg.payload = 'unauthorized';\n    return [msg, null];\n}\n\n// Verified. NetAlertX's webhook publisher always wraps its payload Slack/Discord-style.\n// body.attachments[0].text holds the real notification content — but as a DOUBLE-ENCODED\n// JSON STRING, not a nested object: NetAlertX's Notifications table stores its JSON column\n// as text, and that text gets embedded as-is (then string-escaped by the outer json.dumps),\n// not parsed back into an object first. Confirmed directly against a real payload — needs\n// a second JSON.parse.\nlet data = body && body.attachments && body.attachments[0] && body.attachments[0].text;\nif (typeof data === 'string') {\n    try {\n        data = JSON.parse(data);\n    } catch (e) {\n        node.warn('NetAlertX webhook: could not parse nested notification JSON');\n        data = {};\n    }\n}\ndata = data || {};\nconst newDevices = Array.isArray(data.new_devices) ? data.new_devices : [];\n\n// Event-time convention (CLAUDE.md): this relay posts well after the device actually\n// connected, so the message must carry NetAlertX's own eveDateTime, not just rely on\n// the log server's receipt timestamp — this bug is exactly what that convention exists\n// to prevent.\nconst logMsgs = newDevices.map(function (d) {\n    const label = d.devVendor || d.devName || 'unknown device';\n    let when = 'unknown time';\n    if (d.eveDateTime) {\n        try {\n            when = new Date(d.eveDateTime).toLocaleString('en-US', {\n                timeZone: 'America/Phoenix', hour12: false\n            }) + ' MST';\n        } catch (e) { when = d.eveDateTime; }\n    }\n    return {\n        payload: JSON.stringify({\n            component: 'netalertx',\n            category: 'Alert',\n            message: 'New device detected: ' + label + ' (' + d.eveMac + ', ' +\n                (d.eveIp || 'no IP') + ') — connected ' + when\n        })\n    };\n});\n\nmsg.statusCode = 200;\nmsg.payload = 'OK';\nreturn [msg, logMsgs.length ? logMsgs : null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 500,
        "y": 560,
        "wires": [
            [
                "http_response_netalertx_webhook"
            ],
            [
                "mqtt_out_netalertx_log",
                "debug_netalertx_log"
            ]
        ]
    },
    {
        "id": "http_response_netalertx_webhook",
        "type": "http response",
        "z": "tab_netalertx",
        "name": "response (status from msg.statusCode, default 200)",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 530,
        "wires": []
    },
    {
        "id": "comment_heartbeat",
        "type": "comment",
        "z": "tab_netalertx",
        "name": "Heartbeat (every 5 min — matches watchdog's 35-min / 7-heartbeat timeout)",
        "info": "",
        "x": 220,
        "y": 320,
        "wires": []
    },
    {
        "id": "inject_heartbeat",
        "type": "inject",
        "z": "tab_netalertx",
        "name": "every 5 min",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 10,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "fn_heartbeat"
            ]
        ]
    },
    {
        "id": "fn_heartbeat",
        "type": "function",
        "z": "tab_netalertx",
        "name": "fn_heartbeat (build log + heartbeat payloads)",
        "func": "const stats = flow.get('agg_stats');\nlet statsText = 'no scan data yet';\nif (stats) {\n    statsText = stats.online + ' online, ' + stats.down + ' down, ' + stats.all + ' total' +\n        (stats.new > 0 ? ', ' + stats.new + ' new' : '') +\n        (stats.unknown > 0 ? ', ' + stats.unknown + ' unknown' : '');\n}\n\nconst logMsg = {\n    payload: JSON.stringify({\n        component: 'netalertx',\n        category: 'System',\n        message: 'Heartbeat - ' + statsText\n    })\n};\n\nconst heartbeatMsg = {\n    payload: JSON.stringify({\n        component: 'netalertx',\n        stats: stats || {}\n    })\n};\n\nreturn [logMsg, heartbeatMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "mqtt_out_netalertx_log",
                "debug_netalertx_log"
            ],
            [
                "mqtt_out_netalertx_heartbeat"
            ]
        ]
    },
    {
        "id": "mqtt_out_netalertx_heartbeat",
        "type": "mqtt out",
        "z": "tab_netalertx",
        "name": "jctsh/components/netalertx/heartbeat",
        "topic": "jctsh/components/netalertx/heartbeat",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "debug_netalertx_log",
        "type": "debug",
        "z": "tab_netalertx",
        "name": "debug: log output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 250,
        "wires": []
    }
]